templates/* linguist-vendored
static/* linguist-vendored
user/templates/* linguist-vendored
books/templates/* linguist-vendored
films/templates/* linguist-vendored
user/templates/* linguist-vendored
search/templates/* linguist-vendored
main/templates/* linguist-vendored
article/templates/* linguist-vendored
analytics/templates/* linguist-vendored
