{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
		<div class="well col-sm-6">
			<fieldset>
				<legend>
					Please login
				</legend>
					{% if form.errors %}
						<p class="text-warning">Your username and password didn't match. Please give us a valid gredential.</p>
					{% endif %}
				<div class="panel-body">
					<form role="form"  method="post" action="{% url 'website_login' %}">
						{% csrf_token %}
						{{ form|crispy }}
						<p>
							<input class="btn btn-success" role="button" type="submit" value="Login" />
						</p>
						{% if messages %}
								{% for message in messages %}
								<p class="alert alert-success">{{ message }}</p>
								{% endfor %}
						{% endif %}
						<input type="hidden" name="next" value="{{ next }}" />
					</form>
				</div>
			</fieldset>
		</div>
{% endblock content %}
