{% extends "base.html" %}
{% block content %}
<div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 mt-4">
            <div class="card mb-3 no-border">
                <div style="height: 350px;">
                    <div class="imgarticle" style="background: url('{{ article.image.url }}') center; background-size: cover;">
                    </div>
                </div>
                <div class="card-body">
                    {% for category in article.category.all %}
                    <a href="{% url 'article_category' name=category|lower %}">
                    <span class="article-category article-category-{{ category|lower|cut:" " }}">
                        {{ category }}
                    </span>
                    </a>
                    {% endfor %}
                    <p class="mt-1 article-date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        {{ article.created_date|date:"F d, Y"}}
                    </p>
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.text|safe }}</p>
                    <div class="comments mt-5">
                        <hr>
                        <h4>Leave a comment:</h4>
                        <div id="disqus_thread"></div>
                    </div>
                    <script>
                        var disqus_config = function () {
                        this.page.url = 'http://abme.herokuapp.com{% url 'article_detail' slug=latest_article.slug pk=latest_article.pk %}';
                        this.page.identifier = '{% url 'article_detail' slug=latest_article.slug pk=latest_article.pk %}';
                        };
                        (function() {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://http-abme-herokuapp-com.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 d-xl-block d-lg-block d-none mt-4">
            <div class="search">
                <form action="{% url 'search_article_list' %}">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search article" name="q">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </button>  
                        </span>
                    </div>
                </form>
            </div>
            <div class="latest-article">
                <h5>Latest article:</h5>
                <div class="card" >
                    <div class="card-body">
                        <p class="article-date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        {{ latest_article.created_date|date:"F d, Y"}}
                        </p>
                        <a href="{% url 'article_detail' slug=latest_article.slug pk=latest_article.pk %}" class="article-title">
                        <h5 class="card-title">{{ latest_article.title|truncatechars:90 }}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}