{% extends "base.html" %}
{% load staticfiles %}


{% block content %}


    <div class="mt-5">

        <h1 class="text-center"><span class="top100">Top 100</span> rated serials</h1>
        
        <div class="main-box mt-5">
            {% for serial in serials %}
            <div class="row box-item mb-3 mr-auto ml-auto">
                <div class="col-lg-1">
                    {{ forloop.counter0|add:serials.start_index }}.
                </div>
                <div class="col-lg-2">
                    <a class="detail" href="{% url 'serial_detail' pk=serial.pk %}">
                        <img class="poster" height="105" width="75" src="{{ serial.image.url }}">
                    </a>
                </div>
                <div class="col-lg-2">
                    <a class="detail" href="{% url 'serial_detail' pk=serial.pk %}">
                        <span class="h6">{{ serial.title }}</span>
                    </a>
                    ({{ serial.year }}- )
                </div>
                <div class="col-lg-2">
                    <h6>
                        <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                        {{ serial.average_score }}
                    </h6>
                    {{ serial.votes }} votes
                </div>
                <div class="col-lg-3">
                    {% if serial.id in s_id %}
                    <div class="demo" serial_id="{{ serial.id }}" data-score="{% for ratings in serialrating %}{% if serial.id == ratings.serial.id %} {{ ratings.rate }} {% endif %}{% endfor %}">
                        <span>{% for ratings in serialrating %}{% if serial.id == ratings.serial.id %}{{ratings.rate}}{% endif %}{% endfor %}</span>
                    </div>
                    <a class="delbutton" id="del {{ serial.id }} " href="" del_data-catid=" {{ serial.id }} " 
                    rate_data-catid="{% for ratings in serialrating %}{% if serial.id == ratings.serial.id %} {{ ratings.rate }} {% endif %}{% endfor %}" style="color:black;">
                        {% for ratings in serialrating %}{% if serial.id == ratings.serial.id %} <i class="fa fa-minus-circle" title="Click to remove" aria-hidden="true"></i> {% endif %}{% endfor %}
                    </a>   
                    {% else %}
                    <div class="demo" serial_id="{{ serial.id }}" data-score="{% for ratings in serialrating %}{% if serial.id == ratings.serial.id %} {{ ratings.rate }} {% endif %}{% endfor %}"></div>
                    {% endif %}
                </div>
                <div class="col-lg-2">
                    {% if serial.id in watchlist_id %}
                        <a class="dellwatchlist" del_watchlist="{{ serial.id }}" title="Click to remove" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:green"></i></a>
                    {% else %}
                        <a class="addwatchlist" add_watchlist="{{ serial.id }}" title="Click to add" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:silver"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'lib/jquery.raty.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'lib/jquery.raty.js' %}"></script>
    
    <script type="text/javascript">
        
        $('.addwatchlist').click(function(){
            var id;
            id = $(this).attr("add_watchlist");
            $.ajax(
            {
                url: this.url,
                type:"get",
                data:{
                        add_watchlist: id,
                },
            })
            });
        
        $('.dellwatchlist').click(function(){
            var id;
            id = $(this).attr("del_watchlist");
            $.ajax(
            {
                url: this.url,
                type:"get",
                data:{
                        del_watchlist: id,
                },
            })
            });
    </script>
    
    <script type="text/javascript">
        
        $('.demo').raty({
            path: '{% static "lib/images" %}',
            number: 10,
            hints:['1','2','3','4','5','6','7','8','9','10'],
            click: function(score, evt) {
                var id;
                id = $(this).attr("serial_id");
                $.ajax(
                {
                    url: "http://127.0.0.1:8000/serials/",
                    type:"get",
                    data:{
                            add_serial_id: id,
                            rate: score,
                    },
                })
                window.location.reload();
                },
            });
 
        $('.delbutton').click(function(){
        var catid;
        catid = $(this).attr("del_data-catid");
        var rate;
        rate = $(this).attr("rate_data-catid");
        $.ajax(
        {
            type:"get",
            data:{
                    rate: rate,
                    del_serial_id: catid,
            },
         })
        });
    </script>
{% endblock %}