.main {
    background: url("https://static.pexels.com/photos/52971/moon-super-moon-space-science-52971.jpeg") center;
    background-size:cover;
    padding-top:300px;
    padding-bottom:300px;
    
}

.extras .col-lg-4 {
    text-align: center;
}

.extras {
    padding-top:80px;
    padding-bottom:80px;
}

.extras-b {
    padding-top:80px;
    padding-bottom:80px;
    border-top: 1px #e1e4e8 solid;
}

.account-reminder {
    font-size: 15px;
    margin-top: 20px;
}

.footer {
    padding-top:80px;
    padding-bottom:40px;
    background-color: #e1e4e8 ;
}

a {
    text-decoration: none !important;
}