{% extends 'base.html' %}

{% block content %}
<div class="pt-3">
    <div class="row">
        <div class="person-info col-xl-9 col-lg-12 col-md-12 col-sm-12 ">
            <div class="row main-info-person">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                    <img class="rounded" height="200" width="200" src="{{ person.photo.url }}">
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7">
                    <h4>{{ person }}</h4>
                    <h6><span class="text-muted font-weight-normal">{% for i in person_type %}{{ i }} {% if forloop.last %}{% else %}| {% endif %}{% endfor %}</span></h6>
                    <table>
                        <tbody>
                            <tr>
                                <th>Age:</th>
                                <td>{% if age is not None %}{{ age }} years{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Birth date:</th>
                                <td>{{ person.birthdate|date:"d F, Y" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="person-bio mt-5">
                <h2>Biography:</h2>
                <p>{{ person.biography }}</p>
            </div>
            <div class="filmography">
                <h2>Filmography</h2>             
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% if actor_list %}
                    <li class="nav-item">
                    <a class="nav-link detfilmo active" data-toggle="tab" href="#actor" role="tab" aria-controls="actor">Actor <span class="badge badge-light">{{ actor_list_count }}</span></a>
                    </li>
                    {% endif %}
                    {% if creator_list %}
                    <li class="nav-item">
                    <a class="nav-link detfilmo {% if actor_list %}{% else %}active{% endif %}" data-toggle="tab" href="#creator" role="tab" aria-controls="creator">Creator <span class="badge badge-light">{{ creator_list.count }}</span></a>
                    </li>
                    {% endif %}
                    {% if writer_list %}
                    <li class="nav-item">
                    <a class="nav-link detfilmo {% if actor_list %}{% elif creator_list %}{% else %}active{% endif %}" data-toggle="tab" href="#writer" role="tab" aria-controls="writer">Writer <span class="badge badge-light">{{ writer_list.count }}</span></a>
                    </li>
                    {% endif %}
                    {% if director_list %}
                    <li class="nav-item">
                    <a class="nav-link detfilmo {% if actor_list %}{% elif creator_list %}{% elif writer_list %}{% else %}active{% endif %}" data-toggle="tab" href="#director" role="tab" aria-controls="director">Director <span class="badge badge-light">{{ director_list.count }}</span></a>
                    </li>
                    {% endif %}
                </ul>
              
                <div class="tab-content">
                    {% if actor_list %}
                    <div class="tab-pane active" id="actor" role="tabpanel">
                        <table class="table">
                            <h6>Work as actor:</h6>
                            <tbody>
                            {% for i in actor_list %}
                                {% if i in films %}
                                <tr>
                                    <td class="obj-td">
                                        <img class="poster" height="70px" width="50px" src="{{ i.image.url }}">
                                    </td>
                                    <td class="obj-td">
                                        <a class="person" href="{% url 'film_detail' slug=i.slug pk=i.pk %}">
                                            <h6>{{ i.title }} (Film)</h6>
                                        </a>
                                    </td>
                                    <td class="obj-td">
                                        <h6>
                                            <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                                            {{ i.average_score }}
                                        </h6>
                                    </td>
                                    <td class="obj-td d-none d-sm-table-cell">
                                        <h6>
                                            {{ i.year }}
                                        </h6>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if i in serials %}
                                <tr>
                                    <td class="obj-td">
                                        <img class="poster" height="70px" width="50px" src="{{ i.image.url }}">
                                    </td>
                                    <td class="obj-td">
                                        <a class="person" href="{% url 'serial_detail' slug=i.slug pk=i.pk %}">
                                            <span class="h6">{{ i.title }} (TV Series)</span>
                                        </a>
                                    </td>
                                    <td class="obj-td">
                                        <span class="h6">
                                            <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                                            {{ i.average_score }}
                                        </span>
                                    </td>
                                    <td class="obj-td d-none d-sm-table-cell">
                                        <span class="h6">
                                                {{ i.year }}
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if creator_list %}
                    <div class="tab-pane {% if actor_list %}{% else %}active{% endif %}" id="creator" role="tabpanel">
                        <table class="table">
                            <h6>Work as creator:</h6>
                            <tbody>
                            {% for i in creator_list %}
                            <tr>
                                <td class="obj-td">
                                    <img class="poster" height="70px" width="50px" src="{{ i.image.url }}">
                                </td>
                                <td class="obj-td">
                                    <a class="person" href="{% url 'serial_detail' slug=i.slug pk=i.pk %}">
                                        <span class="h6">{{ i.title }} (TV Series)</span>
                                    </a>
                                </td>
                                <td class="obj-td">
                                    <span class="h6">
                                        <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                                        {{ i.average_score }}
                                    </span>
                                </td>
                                <td class="obj-td d-none d-sm-table-cell">
                                    <span class="h6">
                                        {{ i.year }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if writer_list %}
                    <div class="tab-pane {% if actor_list %}{% elif creator_list %}{% else %}active{% endif %}" id="writer" role="tabpanel">
                        <table class="table">
                            <h6>Work as writer:</h6>
                            <tbody>
                            {% for i in writer_list %}
                            <tr>
                                <td class="obj-td">
                                    <img class="poster" height="70px" width="50px" src="{{ i.image.url }}">
                                </td>
                                <td class="obj-td">
                                    <a class="person" href="{% url 'film_detail' slug=i.slug pk=i.pk %}">
                                        <span class="h6">{{ i.title }} (Film)</span>
                                    </a>
                                </td>
                                <td class="obj-td">
                                    <span class="h6">
                                        <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                                        {{ i.average_score }}
                                    </span>
                                </td>
                                <td class="obj-td d-none d-sm-table-cell">
                                    <span class="h6">
                                        {{ i.year }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if director_list %}
                    <div class="tab-pane {% if actor_list %}{% elif creator_list %}{% elif writer_list %}{% else %}active{% endif %}" id="director" role="tabpanel">
                        <table class="table">
                            <h6>Work as director:</h6>
                            <tbody>
                            {% for i in director_list %}
                            <tr>
                                <td class="obj-td">
                                    <img class="poster" height="70px" width="50px" src="{{ i.image.url }}">
                                </td>
                                <td class="obj-td">
                                    <a class="person" href="{% url 'film_detail' slug=i.slug pk=i.pk %}">
                                        <span class="h6">{{ i.title }} (Film)</span>
                                    </a>
                                </td>
                                <td class="obj-td">
                                    <span class="h6">
                                        <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                                        {{ i.average_score }}
                                    </span>
                                </td>
                                <td class="obj-td d-none d-sm-table-cell">
                                    <span class="h6">
                                        {{ i.year }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 d-xl-block d-none">
            <div class="search">
                <form action="{% url 'search_person_list' %}">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search person" name="q">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </button>  
                        </span>
                    </div>
                </form>
            </div>
            {% if latest_article %}
            <div class="latest-article">
                <h5>Latest article:</h5>
                <div class="card custom-card-shadow" >
                    <div class="card-body">
                        <p class="article-date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        {{ latest_article.created_date|date:"F d, Y"}}
                        </p>
                        <a href="{% url 'article_detail' slug=latest_article.slug pk=latest_article.pk %}" class="article-title">
                        <h5 class="card-title">{{ latest_article.title|truncatechars:90 }}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}