{% extends 'base.html' %}

{% block content %}
<div class="mt-5">
    <div class="row">
        <div class="person-info col-lg-8">
            <div class="row main-info-person">
                <div class="col-lg-5">
                    <img class="rounded" height="200" width="200" src="{{ person.photo.url }}">
                </div>
                <div class="col-lg-7">
                    <h4>{{ person }}</h4>
                    <h6><span class="text-muted font-weight-normal">{% for i in person_type %}{{ i }} {% if forloop.last %}{% else %}| {% endif %}{% endfor %}</span></h6>
                    <table>
                        <tbody>
                            <tr>
                                <th>Age:</th>
                                <td>{% if age is not None %}{{ age }} years{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Birth date:</th>
                                <td>{{ person.birthdate|date:"d F, Y" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="person-bio mt-5">
                <h2>Biography:</h2>
                <p>{{ person.biography }}</p>
            </div>
            <div class="filmography">
                <h2>Filmography</h2>
                <p>
                    {% if creator_list %}
                    <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseCreator" aria-expanded="false" aria-controls="collapseCreator">
                      Creator <span class="badge badge-light">{{ creator_list.count }}</span>
                    </a>
                    {% endif %}
                    {% if actor_list %}
                    <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseActor" aria-expanded="false" aria-controls="collapseActor">
                      Actor <span class="badge badge-light">{{ actor_list_count }}</span>
                    </a>
                    {% endif %}
                    {% if writer_list %}
                    <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseWriter" aria-expanded="false" aria-controls="collapseWriter">
                      Writer <span class="badge badge-light">{{ writer_list.count }}</span>
                    </a>
                    {% endif %}
                    {% if director_list %}
                    <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseDirector" aria-expanded="false" aria-controls="collapseDirector">
                      Director <span class="badge badge-light">{{ director_list.count }}</span>
                    </a>
                    {% endif %}
                </p>
                {% if creator_list %}
                <div class="collapse" id="collapseCreator">
                    <table class="table">
                        <h6>Work as creator:</h6>
                        <tbody>
                        {% for i in creator_list %}
                        <tr>
                            <td class="obj-td">
                                <img class="poster" height="70px" width="50px" src="{{ i.image.url }}">
                            </td>
                            <td class="obj-td">
                                <a class="person" href="{% url 'film_detail' pk=i.pk %}">
                                    <h6>{{ i.title }} ({{ i.year }})</h6>
                                </a>
                            </td>
                            <td class="obj-td">{{ i.year }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% if actor_list %}
                <div class="collapse" id="collapseActor">
                    <table class="table">
                        <h6>Work as actor:</h6>
                        <tbody>
                        {% for i in actor_list %}
                        <tr>
                            <td class="obj-td">
                                <img class="poster" height="70px" width="50px" src="{{ i.image.url }}">
                            </td>
                            <td class="obj-td">
                                <a class="person" href="{% url 'film_detail' pk=i.pk %}">
                                    <h6>{{ i.title }}({{ i.year }})</h6>
                                </a>
                            </td>
                            <td class="obj-td">{{ i.year }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% if writer_list %}
                <div class="collapse" id="collapseWriter">
                    <table class="table">
                        <h6>Work as writer:</h6>
                        <tbody>
                        {% for i in writer_list %}
                        <tr>
                            <td class="obj-td">
                                <img class="poster" height="70px" width="50px" src="{{ i.image.url }}">
                            </td>
                            <td class="obj-td">
                                <a class="person" href="{% url 'film_detail' pk=i.pk %}">
                                    <h6>{{ i.title }}({{ i.year }})</h6>
                                </a>
                            </td>
                            <td class="obj-td">{{ i.year }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% if director_list %}
                <div class="collapse" id="collapseDirector">
                    <table class="table">
                        <h6>Work as director:</h6>
                        <tbody>
                        {% for i in director_list %}
                        <tr>
                            <td class="obj-td">
                                <img class="poster" height="70px" width="50px" src="{{ i.image.url }}">
                            </td>
                            <td class="obj-td">
                                <a class="person" href="{% url 'film_detail' pk=i.pk %}">
                                    <h6>{{ i.title }}({{ i.year }})</h6>
                                </a>
                            </td>
                            <td class="obj-td">{{ i.year }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="person-right col-lg-4 " style="border-left: 1px solid">
            
        </div>
    </div>
</div>
{% endblock %}