{% extends "base.html" %}
{% block content %}
<nav role="navigation" class="mt-2">
    <div class="row mr-auto ml-auto profile-nav">
        <div class="col-lg-1 profiledeactive">
            <a href="{% url 'user_profile' user %}">Profile</a>
        </div>
        <div class="col-lg-1 profiledeactive">
            <a href="{% url 'user_profile_films' user %}">Films</a>
        </div>
        <div class="col-lg-1 profiledeactive">
            <a href="{% url 'user_profile_serials' user %}">Serials</a>
        </div>
        <div class="col-lg-1 profileactive">
            Books
        </div>
    </div>
</nav>

{% for ratings in b_ratings %}
<div class="row mr-auto ml-auto mt-3">
    <div classs="col-lg">
        <img class="pull-left" src="{{ ratings.book.image.url }}" height="210px" width="150px" style="border: 1px solid">
        <div class="pull-left ml-1">
        <h5>{{ forloop.counter }}. {{ ratings.book.title|truncatechars:15 }}</h5>
        <h6>Author: {{ ratings.book.author }}</h6>
        <i class="fa fa-star" aria-hidden="true"></i> {{ ratings.rate }}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}