{% extends "base.html" %}
{% block content %}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'user_profile' user %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Films</li>
        <li class="breadcrumb-item"><a href="{% url 'user_profile_serials' user %}">Serials</a></li>
        <li class="breadcrumb-item"><a href="{% url 'user_profile_books' user %}">Books</a></li>
    </ol>
</nav>
{% for ratings in f_ratings %}
<li class="col-lg-12 col-md-12 col-sm-12 d-inline-block">
    <img class="pull-left" src="{{ ratings.film.image.url }}" height="70px" width="50px" style="border: 1px solid">
    <div class="pull-left">
    <h6>{{ ratings.film.title|truncatechars:15 }}</h6>
    <h6 class="text-muted">{{ ratings.film.year }}</h6>
    <i class="fa fa-star" aria-hidden="true"></i> {{ ratings.rate }}
    </div>
</li>
{% endfor %}
{% endblock %}