{% extends "base.html" %}
{% block content %}
    <div class="profile">
        <div class="row">
            <div class="col-3">
                <div class="general">
                    <img class="rounded" height="200" width="200" src="{{ user.profile.picture.url }}">
                    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                    <p class="text-muted">{{ user.username }}</p>
                    <p class="h6">{{ user.profile.bio }}</p>
                    <h6><span class="fa fa-home"></span> {{ user.profile.location }}</h6>
                    <h6><span class="fa fa-calendar"></span> {{user.profile.birth_date}}</h6>
                </div>
            </div>
            <div class="col-9">
                <div class="bestratefilm">
                    <h3>Best rated movies</h3>
                    {% for film in film %}
                        <div class="col-lg-3 d-inline-block">
                            <div class="row">
                                <img src="{{ film.image.url }}" height="60px" width="40px" style="border: 1px solid">
                                <div>
                                <h6>{{ film.title|truncatechars:15 }}</h6>
                                <h6>{{ film.year }}</h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="bestratefilm">
                    <h3>Best rated Books</h3>
                        {% for book in book %}
                        <div class="col-lg-3 d-inline-block">
                            <div class="row">
                                <img src="{{ book.image.url }}" height="60px" width="40px" style="border: 1px solid">
                                <div>
                                <h6>{{ book.title|truncatechars:15 }}</h6>
                                <h6>{{ book.author }}</h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
