{% extends "base.html" %}
{% block content %}
<nav role="navigation" class="mt-2">
    <div class="row mr-auto ml-auto profile-nav">
        <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profiledeactive">
            <a href="{% url 'user_profile' user %}">Profile</a>
        </div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profiledeactive">
            <a href="{% url 'user_profile_films' user %}">Films</a>
        </div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profileactive">
            Serials
        </div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profiledeactive">
            <a href="{% url 'user_profile_books' user %}">Books</a>
        </div>
    </div>
</nav>

{% for ratings in s_ratings %}
    <div class="row mr-auto ml-auto mt-3">
        <div classs="col-lg">
            <a class="detail" href="{% url 'serial_detail' pk=ratings.serial.pk %}">
                <img class="pull-left" src="{{ ratings.serial.image.url }}" height="210px" width="150px" style="border: 1px solid">
            </a>
            <div class="pull-left ml-1">
            <a class="detail" href="{% url 'serial_detail' pk=ratings.serial.pk %}">
                <h5>{{ forloop.counter }}. {{ ratings.serial.title|truncatechars:15 }}</h5>
            </a>
            <h6>({{ ratings.serial.year }}- )</h6>
            <h6>{{ ratings.date }}</h6>
            <i class="fa fa-star star" aria-hidden="true"></i> {{ ratings.rate }}
            </div>
        </div>
    </div>    
{% endfor %}
{% endblock %}