{% extends "base.html" %}
{% block content %}
    <nav role="navigation" class="mt-2">
        <div class="row mr-auto ml-auto profile-nav">
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profileactive">
                Profile
            </div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profiledeactive">
                <a href="{% url 'user_profile_films' user %}">Films</a>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profiledeactive">
                <a href="{% url 'user_profile_serials' user %}">Serials</a>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profiledeactive">
                <a href="{% url 'user_profile_books' user %}">Books</a>
            </div>
        </div>
    </nav>

    <div class="profile">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="general" style="width: 200px;">
                    <img class="rounded" height="200" width="200" src="{{ user.profile.picture.url }}">
                    <h4>{{ full_name }}</h4>
                    <p class="text-muted">{{ user.username }}</p>
                    <p class="h6 pb-2" style="border-bottom: 1px #e1e4e8 solid;">{{ user.profile.bio }}</p>
                    {% if user.profile.location %}<h6><span class="fa fa-home"></span> <span class="text-muted font-weight-normal">{{ user.profile.location }}</span></h6>{% endif %}
                    {% if user.profile.birth_date %}<h6><span class="fa fa-calendar"></span> <span class="text-muted font-weight-normal">{{user.profile.birth_date}}</span></h6>{% endif %}
                    {% if user.email %}<h6><span class="fa fa-envelope-o"></span> <span class="text-muted font-weight-normal">{{user.email}}</span></h6>{% endif %}
                    
                </div>
            </div>
        
            <div class="col-lg-9 col-md-8 col-sm-6 col-6">
                {% if f_ratings %}
                <div class="bestratefilms">
                    <h5>Best rated movies</h5>
                    <ul class="p-0">
                    <div class="row">
                        
                        {% for ratings in f_ratings %}
                        <li class="col-lg-3 col-md-6 col-sm-12 d-inline-block mb-3">
                            <a class="detail" href="{% url 'film_detail' pk=ratings.film.pk %}">
                                <img class="pull-left poster poster-border" src="{{ ratings.film.image.url }}" height="70px" width="50px">
                            </a>
                            <div class="pull-left ml-1">
                            <a class="detail" href="{% url 'film_detail' pk=ratings.film.pk %}">
                                <h6>{{ ratings.film.title|truncatechars:15 }}</h6>
                            </a>
                            <h6 class="text-muted">{{ ratings.film.year }}</h6>
                            <i class="fa fa-star star" aria-hidden="true"></i> {{ ratings.rate }}
                            </div>
                        </li>
                        {% endfor %}
                    </div>
                    </ul>
                </div>
                {% endif %}
                {% if s_ratings %}
                <div class="bestratebooks">
                    <h5>Best rated serials</h5>
                    <ul class="p-0">
                        <div class="row">
                        {% for ratings in s_ratings %}
                        <li class="col-lg-3 col-md-6 col-sm-12 d-inline-block mb-3">
                                <a class="detail" href="{% url 'serial_detail' pk=ratings.serial.pk %}">
                                    <img class="pull-left poster poster-border" src="{{ ratings.serial.image.url }}" height="70px" width="50px">
                                </a>
                                <div class="pull-left ml-1">
                                <a class="detail" href="{% url 'serial_detail' pk=ratings.serial.pk %}">
                                    <h6>{{ ratings.serial.title|truncatechars:15 }}</h6>
                                </a>
                                <h6 class="text-muted">({{ ratings.serial.year }}- )</h6>
                                <i class="fa fa-star star" aria-hidden="true"></i> {{ ratings.rate }}
                                </div>
                        </li>
                        {% endfor %}
                        </div>
                    </ul>
                </div>
                {% endif %}
                {% if b_ratings %}
                <div class="bestratebooks">
                    <h5>Best rated books</h5>
                    <ul class="p-0">
                        <div class="row">
                        {% for ratings in b_ratings %}
                        <li class="col-lg-3 col-md-6 col-sm-12 d-inline-block">
                                <img class="pull-left poster" src="{{ ratings.book.image.url }}" height="70px" width="50px">
                                <div class="pull-left ml-1">
                                <h6>{{ ratings.book.title|truncatechars:15 }}</h6>
                                <h6 class="text-muted">{{ ratings.book.author }}</h6>
                                <i class="fa fa-star" aria-hidden="true"></i> {{ ratings.rate }}
                                </div>
                        </li>
                        {% endfor %}
                        </div>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
