{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <nav role="navigation" class="pt-2">
        <div class="row mr-auto ml-auto profile-nav">
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profiledeactive">
                <a href="{% url 'user_profile' user %}">Profile</a>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profileactive">
                Films
            </div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3 profiledeactive">
                <a href="{% url 'user_profile_serials' user %}">Serials</a>
            </div>
        </div>
    </nav>

    <table class="table">
        <thead>
            <tr class="row mr-auto ml-auto">
                <th scope="col" class="col-4 col-sm-2 col-lg-1"></th>
                <th scope="col" class="col-6 col-sm-2 col-lg-4">
                    <a href="?order_by={% if request.GET.order_by == '-film' %}film{% else %}-film{% endif %}" class="text-dark">
                        Name <i class="fa fa-sort{% if request.GET.order_by == '-film' %}-desc{% elif request.GET.order_by == 'film' %}-asc{% endif %}" aria-hidden="true"></i>
                    </a>
                </th>
                <th scope="col" class="col-sm-6 col-lg-4 d-none d-sm-block">
                    <a href="?order_by={% if request.GET.order_by == '-rate' %}rate{% else %}-rate{% endif %}" class="text-dark">
                        Rate <i class="fa fa-sort{% if request.GET.order_by == '-rate' %}-desc{% elif request.GET.order_by == 'rate' %}-asc{% endif %}" aria-hidden="true"></i>
                    </a>
                </th>
                <th scope="col" class="col-sm-2 col-lg-3 d-none d-sm-block">
                    <a href="?order_by={% if request.GET.order_by == 'date' %}-date{% else %}date{% endif %}" class="text-dark">
                        Date <i class="fa fa-sort{% if request.GET.order_by == '-date' %}-desc{% elif request.GET.order_by == 'date' %}-asc{% elif not request.GET.order_by %}-desc{% endif %}" aria-hidden="true"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for rating in f_ratings %}
        <tr class="row mr-auto ml-auto">
            <th scope="row" class="col-4 col-sm-2 col-lg-1">
                <a class="detail" href="{% url 'film_detail' slug=rating.film.slug pk=rating.film.pk %}">
                    <img class="poster" height="70" width="50" src="{{ rating.film.image.url }}">
                </a>
            </th>
            <td class="col-6 col-sm-2 col-lg-4">
                <a class="detail" href="{% url 'film_detail' slug=rating.film.slug pk=rating.film.pk %}">
                    <h6>{{ rating.film.title }}</h6>
                </a>
                ({{ rating.film.year }})
            </td>
            <td class="col-sm-6 col-lg-4 d-none d-sm-block">
                <div class="rating" data-score="{{ rating.rate }}">
                    <span class="h6">{{ rating.rate }}</span>
                </div>
            </td>
            <td class="col-sm-2 col-lg-3 d-none d-sm-block">
                <h6>{{ rating.date|date:"d F Y" }}</h6>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if not f_ratings %}
    <div class="row">
        <div class="col-6 mr-auto ml-auto mt-2">
            <h1 class="text-center text-muted">:(</h1>
            <h5 class="text-center">It looks empty</h5>
        </div>
    </div>
    {% endif %}

    {% if f_ratings.has_other_pages %}
    <div class="row">
        <div class="col-12">
        <nav aria-label="...">
            <ul class="pagination pull-right">
        
            {% if f_ratings.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ f_ratings.previous_page_number }}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}">Prev</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Prev</span></li>
            {% endif %}
        
            {% for i in f_ratings.paginator.page_range %}
                {% if f_ratings.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a class="page-link" href="?page={{ i }}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        
            {% if f_ratings.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ f_ratings.next_page_number }}{% if request.GET.order_by %}&order_by={{ request.GET.order_by }}{% endif %}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        
            </ul>
        </nav>
        </div>
    </div>
    {% endif %}

    <link rel="stylesheet" href="{% static 'lib/jquery.raty.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'lib/jquery.raty.js' %}"></script>

    <script type="text/javascript">
        $('.rating').raty({
            path: '{% static "lib/images" %}',
            number: 10,
            hints:['1','2','3','4','5','6','7','8','9','10'],
            readOnly: true 
            });
    </script>
{% endblock %}