{% extends "base.html" %}
{% block content %}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'user_profile' user %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'user_profile_films' user %}">Films</a></li>
        <li class="breadcrumb-item"><a href="{% url 'user_profile_serials' user %}">Serials</a></li>
        <li class="breadcrumb-item active" aria-current="page">Books</li>
    </ol>
</nav>
{% for ratings in b_ratings %}
<div class="row mr-auto ml-auto mt-3">
    <div classs="col-lg">
        <img class="pull-left" src="{{ ratings.book.image.url }}" height="210px" width="150px" style="border: 1px solid">
        <div class="pull-left ml-1">
        <h5>{{ forloop.counter }}. {{ ratings.book.title|truncatechars:15 }}</h5>
        <h6>Author: {{ ratings.book.author }}</h6>
        <i class="fa fa-star" aria-hidden="true"></i> {{ ratings.rate }}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}