{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post">
    
    <div class="settings mt-2">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                <p class="alert alert-success">{{ message }}</p>
                {% endif %}
                {% if message.tags == "error" %}
                <p class="alert alert-danger">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
        <div class="col-lg-3">
                <div class="card">
                    <h6 class="card-header">Profile settings</h6>
                    <ul class="list-group list-group-flush">
                        <a href="{% url 'user_settings' %}" class="list-group-item list-group-item-action">Profile</a>
                        <a href="#" class="list-group-item list-group-item-action active">Password</a>
                    </ul>
                </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-12">
                    <h2>Password</h2>
                </div>
                <div class="col-6">
                    {% csrf_token %}
                    {{ password_form|crispy }}
                    <input class="btn btn-secondary pointer" role="button" type="submit" value="Update password" />
                </div>
            </div>
        </div>  
        </div>
    </div>
</form>
{% endblock %}