{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    
<div class="settings">
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-success">{{ message }}<a href="{% url 'user_profile' request.user %}">View your profile</a></p>
        {% endfor %}
    {% endif %}
    <div class="row">
    <div class="col-lg-3">
            <div class="card">
                <h6 class="card-header">Profile settings</h6>
                <ul class="list-group list-group-flush">
                    <a href="{% url 'user_settings' %}" class="list-group-item list-group-item-action">Profile</a>
                    <a href="#" class="list-group-item list-group-item-action active">Password</a>
                    <a href="#" class="list-group-item list-group-item-action">Email</a>
                    <a href="#" class="list-group-item list-group-item-action">Example</a>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <h2>Password</h2>
        </div>  
    </div>
</div>
</form>
{% endblock %}