{% load staticfiles %}
{% load crispy_forms_tags %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ABME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css'%}">
    <script src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark"  style="background-color: #24292e;">
      <div class="container">
      <a class="navbar-brand" href="/" id="logo">
        ABME
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarCollapseItems" aria-expended="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapseItems">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item inline">
              <a class="nav-link sign text-light" href="{% url 'user_signup' %}">Sign up</a>
            </li>
            <li class="navbar-text inline">or</li>
            <li class="nav-item inline last-inline">
              <a class="nav-link sign text-light" href="{% url 'website_login' %}">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="signupbox mt-4" style="min-height: 910px;">
      <div class="container">
          <div class="row">
            <div class="col-lg-6">
                <fieldset>
                    <legend>
                        Create an account
                    </legend>
                    <div class="panel-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-success btn-block" role="button" type="submit" value="Signip" style="cursor: pointer;"/>
                        </form>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-6 text-center">
                <img src="{% static 'images/sleeping.png' %}">
            </div>
          </div>
      </div>
    </div>
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-2">
                <h1>
                  <a class="text-light" href="/">ABME</a>
                </h1>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-2">
                <h5 class="text-light">Films</h5>
                <ul class="list-unstyled text-light">
                  <li><a href="{% url 'film_list' %}" class="text-light">List</a></li>
                  <li><a href="{% url 'film_top_rated' %}" class="text-light">Top rated</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-2">
                <h5 class="text-light">TV Series</h5>
                <ul class="list-unstyled text-light">
                  <li><a href="{% url 'serial_list' %}" class="text-light">List</a></li>
                  <li><a href="{% url 'serial_top_rated' %}" class="text-light">Top rated</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-2">
                <h5 class="text-light">Communication</h5>
                <ul class="list-unstyled text-gray">
                  <li><a href="" class="text-light">API</a></li>
                  <li><a href="" class="text-light">Analytics</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-2">
                <div class="social">
                    <a target="_blank" href="//www.linkedin.com/in/mateusz-slisz-557775139/" class="linkedin text-light">
                      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="//www.facebook.com/mateusz.slisz" class="facebook text-light">
                      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="//github.com/b1oader" class="github text-light">
                      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </footer>
  </body>
</html>

