{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Your watchlist</h1>
<h4 class="text-center">Sort by date added</h4>
<div class="row mr-auto ml-auto mt-5">
    {% for i in watchlist_all %}
        {% if i.film %}
        <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
            <a class="detail" href="{% url 'film_detail' pk=i.film.pk %}">
                <img class="pull-left poster poster-border" src="{{ i.film.image.url }}" height="210px" width="150px">
            </a>
            <div class="pull-left ml-1">
            <a class="dellfilmwatchlist" del_film_watchlist="{{ i.film.id }}" href="">
                <i class="fa fa-bookmark fa-2x" aria-hidden="true" style="color:green" title="Click to remove"></i>
            </a>
            <a class="detail" href="{% url 'film_detail' pk=i.film.pk %}">
                <h5>{{ i.film.title|truncatechars:15 }}</h5>
            </a>
            <h6>Film ({{ i.film.year }})</h6>
            <h6>{{ i.date|date:"d M, Y" }}</h6>
            </div>
        </div>
        {% endif %}
        {% if i.serial %}
        <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
            <a class="detail" href="{% url 'serial_detail' pk=i.serial.pk %}">
                <img class="pull-left poster poster-border" src="{{ i.serial.image.url }}" height="210px" width="150px">
            </a>
            <div class="pull-left ml-1">
            <a class="dellserialwatchlist" del_serial_watchlist="{{ i.serial.id }}" href="">
                <i class="fa fa-bookmark fa-2x" aria-hidden="true" style="color:green" title="Click to remove"></i>
            </a>
            <a class="detail" href="{% url 'serial_detail' pk=i.serial.pk %}">
                <h5>{{ i.serial.title|truncatechars:15 }}</h5>
            </a>
            <h6>TV Series ({{ i.serial.year }}- )</h6>
            <h6>{{ i.date|date:"d M, Y" }}</h6>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    
    $('.dellserialwatchlist').click(function(){
        var id;
        id = $(this).attr("del_serial_watchlist");
        $.ajax(
        {
            url: this.url,
            type:"get",
            data:{
                    del_serial_watchlist: id,
            },
        })
        });

    $('.dellfilmwatchlist').click(function(){
        var id;
        id = $(this).attr("del_film_watchlist");
        $.ajax(
        {
            url: this.url,
            type:"get",
            data:{
                    del_film_watchlist: id,
            },
        })
        });
</script>

{% endblock %}