{% load staticfiles %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ABME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href="{% static 'css/analytics.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css'%}">
    <script src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="nav-side-menu">
      <div class="brand">Analytics</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          <div class="menu-list">
              <ul id="menu-content" class="menu-content collapse out">
                <a href="{% url 'analytics' %}">
                    <li>
                        <i class="fa fa-hashtag fa-lg"></i> Year
                    </li>
                </a>
                    <li class="active">
                        <i class="fa fa-hashtag fa-lg"></i> Month
                    </li>

                <a href="{% url 'analytics_day' %}">
                    <li>
                        <i class="fa fa-hashtag fa-lg"></i> Day
                    </li>
                </a>
              </ul>
          </div>
    </div>

    <div class="main">

    <div class="row mt-3">
        <div class="col-2">
            <h5 class="text-dark">Month</h3>
        </div>
        <div class="col-10">
            <div class="h5 clock text-right text-dark">

            </div>
        </div>
    </div>

      <div class="row">
        <div class="col-12 mb-3">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-line-chart"></i>
              Dependence in {{ today|date:"F Y" }}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="chart col-12 col-xl-10">
                    <canvas id="myChart" height="100" width="200"></canvas>
                </div>
                <div class="col-sm-12 col-xl-2 d-none d-sm-block text-center my-auto">
                    <div class="row">
                        <div class="col-6 col-xl-12">
                            <div class="h4" style="color: #3e7899">Votes</div>
                            <div class="small">
                            <span class="text-muted">MAX:</span>
                            <span class="text-success"> {{ max_all_votes }}</span>
                            </div>
                            <div class="small">
                                <span class="text-muted">MIN:</span>
                                <span class="text-danger"> {{ min_all_votes }}</span>
                            </div>
                            <hr>
                        </div>
                        <div class="col-6 col-xl-12">
                            <div class="h4" style="color: #00AA8D">Watchlist</div>
                            <div class="small">
                            <span class="text-muted">MAX:</span>
                            <span class="text-success"> {{ max_all_watchlist }}</span>
                            </div>
                            <div class="small">
                                <span class="text-muted">MIN:</span>
                                <span class="text-danger"> {{ min_all_watchlist }}</span>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-xl-8">
          <div class="row">

            <div class="col-12">
              <div class="card mb-3">
                <div class="card-header">
                  <i class="fa fa-bar-chart"></i>
                  Ratings in {{ today|date:"F Y" }}
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="chart col-sm-10 col-12">
                        <canvas id="aorChart" height="40" width="100"></canvas>
                    </div>
                    <div class="col-sm-2 d-none d-sm-block text-center my-auto">
                      <div class="h4 text-primary">{{ sum_rate_votes }} votes</div>
                      <div class="small text-muted">TOTAL AMOUNT</div>
                      <hr>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-12">
              <div class="card mb-3">
                  <div class="card-header">
                    <i class="fa fa-pie-chart"></i>
                    Votes in {{ today|date:"F Y" }}
                  </div>
                  <div class="card-body">
                    <div class="chart" >
                        <canvas id="aovChart"></canvas>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col-sm-6 col-12">
                <div class="card mb-3">
                    <div class="card-header">
                      <i class="fa fa-pie-chart"></i>
                      Watchlist in {{ today|date:"F Y" }}
                    </div>
                    <div class="card-body">
                      <div class="chart" >
                          <canvas id="aowChart"></canvas>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i>
               New things in {{ today|date:"F Y" }}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 d-none d-sm-block text-center my-auto mr-auto ml-auto">
                    <div class="h4">{{ sum_new_things }} new things</div>
                    <hr>
                </div>
                <div class="chart col-12">
                    <canvas id="ntChart"  height="100" width="100"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="{% static 'js/clock.js' %}"></script>
    <script type="text/javascript">
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [{% for i in current_days %}'{{ i }}', {% endfor %}],
                  datasets: [{
                      label: 'Number of votes',
                      data: [{% for i in all_votes %}{{ i }}, {% endfor %}],
                      backgroundColor: '#99b3ff50',
                      borderColor: '#3e7899',
                      borderWidth: 2,
                      pointBackgroundColor: '#287eaf',
                      pointBorderWidth: 1,
                  },
                  {
                      label: 'Number of watchlist',
                      data: [{% for i in all_watchlist %}{{ i }}, {% endfor %}],
                      backgroundColor: '#00BF9A50',
                      borderColor: '#00AA8D',
                      borderWidth: 2,
                      pointBackgroundColor: '#00AA8D',
                      pointBorderWidth: 1,
                  }],
                },
                options: {
                    tooltips: {
                      enabled: true,
                      mode: 'label'
                    },         
                    scales: {
                        yAxes: [{
                            ticks: {
                              min: 0,
                              callback: function(value, index, values) {
                                  if (Math.floor(value) === value) {
                                      return value;
                                  }
                              }
                            }
                        }],
                    },
                }});

            var aov = document.getElementById("aovChart");
            var aovChart = new Chart(aov, {
                type: 'doughnut',
                data: {
                  datasets: [{
                      data: [{{ film_votes_countmonth }}, {{ serial_votes_countmonth }}],
                      backgroundColor: ['#4285f4', '#ea4335'],
                  }],
                  labels: [
                      'Films',
                      'TV Movies',
                  ]
              }});
            
            var aow = document.getElementById("aowChart");
            var aowChart = new Chart(aow, {
                type: 'doughnut',
                data: {
                  datasets: [{
                      data: [{{ film_watchlist_countmonth }}, {{ serial_watchlist_countmonth }}],
                      backgroundColor: ['#4285f4', '#ea4335'],
                  }],
                  labels: [
                      'Films',
                      'TV Movies',
                  ]
              }});

            var aor = document.getElementById("aorChart");
            var aorChart = new Chart(aor, {
                type: 'bar',
                data: {
                  labels: [{% for i in all_rate_votes %}{{ forloop.counter }}, {% endfor %}],
                  datasets: [{
                      label: 'Number of ratings',
                      data: [{% for i in all_rate_votes %}{{ i }}, {% endfor %}],
                      backgroundColor: [
                        '#0085c3',
                        '#7ab800',
                        '#f2af00',
                        '#dc5034',
                        '#ce1126',
                        '#b7295a',
                        '#6e2585',
                        '#71c6c1',
                        '#5482ab',
                        '#444444',
                        ],
                  }],
                },
                options: {
                    legend: {
                        display: false,
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                              min: 0,
                              callback: function(value, index, values) {
                                  if (Math.floor(value) === value) {
                                      return value;
                                  }
                              }
                            }
                        }],
                    },
                }});
              
            var nt = document.getElementById("ntChart");
            var ntChart = new Chart(nt, {
                type: 'horizontalBar',
                data: {
                  labels: [
                    "Votes",
                    "Watchlist",
                    "Articles"
                    ],
                  datasets: [{
                      label: 'Quantity',
                      data: [{{ sum_all_votes }}, {{ sum_all_watchlist }}, {{ sum_all_articles }}],
                      backgroundColor: [
                        '#0085c3',
                        '#7ab800',
                        '#f2af00',
                        ],
                  }],
                },
                options: {
                    legend: {
                        display: false,
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                              min: 0,
                              callback: function(value, index, values) {
                                  if (Math.floor(value) === value) {
                                      return value;
                                  }
                              }
                            }
                        }],
                    },
                }});
  </script>

  </body>
</html>