{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="row">
        <h1>List of films</h1>
        <table class="table mt-5">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Global rating</th>
                <th scope="col">Your rating</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for film in films %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><img height="70" width="50" src="{{ film.image.url }}" style="border: 1px solid"></td>
                <td>{{ film.title }}</td>
                <td>{{ film.year }}</td>
                <td><i class="fa fa-star" aria-hidden="true"></i> {{ film.average_score }}</td>
                <td>
                {% for ratings in filmrating %}
                    {% if ratings.film.title in film.title %}
                    <i class="fa fa-star" aria-hidden="true"></i> {{ ratings.rate }}
                    {% endif %}
                {% endfor %}
                {% if film.title not in f %}
                <i class="fa fa-star" aria-hidden="true"></i>--
                {% endif %}
                </td>
                <td>
                {% if film.title not in f %}
                <a class="addbutton btn btn-sm btn-success" id="add {{ film.id }} " href="" add_data-catid=" {{ film.id }} ">
                    Add
                </a>
                {% endif %}
                {% if film.title in f %}
                <a class="delbutton btn btn-sm btn-danger" id="del {{ film.id }} " href="" del_data-catid=" {{ film.id }} ">
                    Del
                </a>
                {% endif %}
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script type="text/javascript">
        $('.addbutton').click(function(){
            var catid;
            catid = $(this).attr("add_data-catid");
            $.ajax(
            {
                type:"get",
                data:{
                         add_film_id: catid
                },
                success: function(data) 
                {
                    $( '#add'+ catid ).remove();
                    $( '#message' ).text(data);
                    
                }
             })
            });
        </script>
    

    <script type="text/javascript">
        $('.delbutton').click(function(){
        var catid;
        catid = $(this).attr("del_data-catid");
        $.ajax(
        {
            type:"get",
            data:{
                     del_film_id: catid
            },
            success: function(data) 
            {
                $( '#del'+ catid ).remove();
                $( '#message' ).text(data);
                
            }
         })
        });
        </script>
{% endblock %}