{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <h1 style="border-bottom: 1px solid #e5e5e5">Books</h1>
    <div class="row">
    {% for book in books %}
        <div class="col-sm-6 col-md-4"><br><br>
            {% for ratings in bookrating %}
                {% if ratings.book.title in book.title %}
                    <h6>Rate: {{ ratings.rate }}</h6>
                {% endif %}
            {% endfor %}
            <h3>{{ book.title }} {{ book.author }}</h3>
            <h4>{% if book.title in b%}On your list{% endif %}</h4>
            <figure>
                <img height="281" width="200" src="{{ book.image.url }}" style="border: 1px solid">
            </figure>
            {% if book.title not in b %}
            <a class="addbutton btn btn-sm btn-success" id="add {{ book.id }} " href="" add_data-catid=" {{ book.id }} ">
                Add
            </a>
            {% endif %}
            {% if book.title in b %}
            <a class="delbutton btn btn-sm btn-danger" id="del {{ book.id }} " href="" del_data-catid=" {{ book.id }} ">
                Del
            </a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script type="text/javascript">
    $('.addbutton').click(function(){
    var catid;
    catid = $(this).attr("add_data-catid");
    $.ajax(
    {
        type:"get",
        data:{
                 add_book_id: catid
        },
        success: function(data) 
        {
            $( '#add'+ catid ).remove();
            $( '#message' ).text(data);
            
        }
     })
    });
    </script>

    <script type="text/javascript">
        $('.delbutton').click(function(){
        var catid;
        catid = $(this).attr("del_data-catid");
        $.ajax(
        {
            type:"get",
            data:{
                     del_book_id: catid
            },
            success: function(data) 
            {
                $( '#del'+ catid ).remove();
                $( '#message' ).text(data);
                
            }
         })
        });
        </script>
{% endblock %}