{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="row mt-5">
        <h1>List of books</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Global rating</th>
                <th scope="col">Your rating</th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><img height="70" width="50" src="{{ book.image.url }}" style="border: 1px solid"></td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td><i class="fa fa-star" aria-hidden="true"></i> {{ book.average_score }}</td>
                <td>
                {% if book.title in b %}
                <div class="demo" book_id="{{ book.id }}" data-score="{% for ratings in bookrating %}{% if ratings.book.title in book.title %} {{ ratings.rate }} {% endif %}{% endfor %}">
                </div>
                <a class="delbutton" id="del {{ book.id }} " href="" del_data-catid=" {{ book.id }} " 
                rate_data-catid="{% for ratings in bookrating %}{% if ratings.book.title in book.title %} {{ ratings.rate }} {% endif %}{% endfor %}" style="color:black;">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </a>   
                {% else %}
                <div class="demo" book_id="{{ book.id }}" data-score="{% for ratings in bookrating %}{% if ratings.book.title in book.title %} {{ ratings.rate }} {% endif %}{% endfor %}"></div>
                {% endif %}
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <link rel="stylesheet" href="{% static 'lib/jquery.raty.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'lib/jquery.raty.js' %}"></script>
    
    <script type="text/javascript">
        
        $('.demo').raty({
            path: '{% static "lib/images" %}',
            number: 10,
            hints:['1','2','3','4','5','6','7','8','9','10'],
            click: function(score) {
            var id;
            id = $(this).attr("book_id");
            $.ajax(
            {
                type:"get",
                data:{
                        add_book_id: id,
                        rate: score,
                },
                success: function(data)
                {
                    $( '#add'+ id ).remove();
                    $( '#message' ).text(data);
                }, 
             })
            },
            });
    </script>
  
    <script type="text/javascript">
        $('.delbutton').click(function(){
        var catid;
        catid = $(this).attr("del_data-catid");
        var rate;
        rate = $(this).attr("rate_data-catid");
        $.ajax(
        {
            type:"get",
            data:{
                    rate: rate,
                    del_book_id: catid,
            },
            success: function(data) 
            {
                $( '#del'+ catid ).remove();
                $( '#message' ).text(data);
            }
         })
        });
    </script>
{% endblock %}