{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="mt-2">
    {% if request.GET.q == '' %}
    <h1 class="text-center">Enter the word!</h1>
    <form>
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <span class="input-group-addon">
                <button type="submit">
                    <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>  
            </span>
        </div>
    </form>
    {% elif request.GET.q %}
    <h1 class="text-center"><span class="main-list">Search </span>result for "{{ request.GET.q }}"</h1>
    <form>
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <span class="input-group-addon">
                <button type="submit">
                    <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>  
            </span>
        </div>
    </form>
    <div class="main-box mt-3">
        <div class="search-nav">
            <ol class="breadcrumb breadcrumb-color">
                <li class="breadcrumb-item active "><i class="fa fa-th-list" aria-hidden="true"></i> All <span class="badge badge-light">{{ result_list_c }}</span></li>
                <li class="breadcrumb-item "><a href="{% url 'search_film_list' %}?q={{ request.GET.q }}">Films</a> <span class="badge badge-light">{{ films_c }}</span></li>
                <li class="breadcrumb-item "><a href="{% url 'search_serial_list' %}?q={{ request.GET.q }}">TV Series</a> <span class="badge badge-light">{{ serials_c }}</span></li>
            </ol>
        </div> 
    {% for i in result_list %}
        {% if i in films %}
        <div class="row box-item mb-3 mr-auto ml-auto">
            <div class="col-lg-1">
                {{ forloop.counter0|add:result_list.start_index }}.
            </div>
            <div class="col-lg-2">
                <a class="detail" href="{% url 'film_detail' pk=i.pk %}">
                    <img class="poster" height="105" width="75" src="{{ i.image.url }}">
                </a>
            </div>
            <div class="col-lg-2">
                <a class="detail" href="{% url 'film_detail' pk=i.pk %}">
                    <span class="h6">{{ i.title }}</span>
                </a>
                ({{ i.year }})
                <h6 class="text-muted">Film</h6>
                
            </div>
            <div class="col-lg-2">
                <h6>
                    <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                    {{ i.average_score }}
                </h6>
                {{ i.votes }} votes
            </div>
            <div class="col-lg-3">
                {% if i.id in f_id %}
                <div class="demofilm" film_id="{{ i.id }}" data-score="{% for ratings in filmrating %}{% if i.id == ratings.film.id %} {{ ratings.rate }} {% endif %}{% endfor %}">
                    <span>{% for ratings in filmrating %}{% if i.id == ratings.film.id %}{{ratings.rate}}{% endif %}{% endfor %}</span>
                </div>
                <a class="delbuttonfilm" id="del {{ i.id }} " href="" del_data-catid=" {{ i.id }} " 
                rate_data-catid="{% for ratings in filmrating %}{% if i.id == ratings.film.id %} {{ ratings.rate }} {% endif %}{% endfor %}" style="color:black;">
                    {% for ratings in filmrating %}{% if i.id == ratings.film.id %} <i class="fa fa-minus-circle" title="Click to remove" aria-hidden="true"></i> {% endif %}{% endfor %}
                </a>   
                {% else %}
                <div class="demofilm" film_id="{{ i.id }}" data-score="{% for ratings in filmrating %}{% if i.id == ratings.film.id %} {{ ratings.rate }} {% endif %}{% endfor %}"></div>
                {% endif %}
            </div>
            <div class="col-lg-2">
                {% if i.id in watchlist_film_id %}
                    <a class="dellwatchlistfilm" del_watchlist="{{ i.id }}" title="Click to remove" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:green"></i></a>
                {% else %}
                    <a class="addwatchlistfilm" add_watchlist="{{ i.id }}" title="Click to add" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:silver"></i></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if i in serials %}
        <div class="row box-item mb-3 mr-auto ml-auto">
            <div class="col-lg-1">
                {{ forloop.counter0|add:result_list.start_index }}.
            </div>
            <div class="col-lg-2">
                <a class="detail" href="{% url 'serial_detail' pk=i.pk %}">
                    <img class="poster" height="105" width="75" src="{{ i.image.url }}">
                </a>
            </div>
            <div class="col-lg-2">
                <a class="detail" href="{% url 'serial_detail' pk=i.pk %}">
                    <span class="h6">{{ i.title }}</span>
                </a>
                ({{ i.year }}- )
                <h6 class="text-muted">TV Series</h6>
            </div>
            <div class="col-lg-2">
                <h6>
                    <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                    {{ i.average_score }}
                </h6>
                {{ i.votes }} votes
            </div>
            <div class="col-lg-3">
                {% if i.id in s_id %}
                <div class="demoserial" serial_id="{{ i.id }}" data-score="{% for ratings in serialrating %}{% if i.id == ratings.serial.id %} {{ ratings.rate }} {% endif %}{% endfor %}">
                    <span>{% for ratings in serialrating %}{% if i.id == ratings.serial.id %}{{ratings.rate}}{% endif %}{% endfor %}</span>
                </div>
                <a class="delbuttonserial" id="del {{ i.id }} " href="" del_data-catid=" {{ i.id }} " 
                rate_data-catid="{% for ratings in serialrating %}{% if i.id == ratings.serial.id %} {{ ratings.rate }} {% endif %}{% endfor %}" style="color:black;">
                    {% for ratings in serialrating %}{% if i.id == ratings.serial.id %} <i class="fa fa-minus-circle" title="Click to remove" aria-hidden="true"></i> {% endif %}{% endfor %}
                </a>   
                {% else %}
                <div class="demoserial" serial_id="{{ i.id }}" data-score="{% for ratings in serialrating %}{% if i.id == ratings.serial.id %} {{ ratings.rate }} {% endif %}{% endfor %}"></div>
                {% endif %}
            </div>
            <div class="col-lg-2">
                {% if i.id in watchlist_serial_id %}
                    <a class="dellwatchlistserial" del_watchlist="{{ i.id }}" title="Click to remove" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:green"></i></a>
                {% else %}
                    <a class="addwatchlistserial" add_watchlist="{{ i.id }}" title="Click to add" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:silver"></i></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% empty %}
    <h3 class="text-center">Looks like "{{ request.GET.q }}" do not matches anything.</h3>
    {% endfor %}
    {% if result_list.has_other_pages %}
    <nav aria-label="...">
        <ul class="pagination mb-5 pull-right">

        {% if result_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ result_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Prev</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Prev</span></li>
        {% endif %}

        {% for i in result_list.paginator.page_range %}
            {% if result_list.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if result_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ result_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}

        </ul>
    </nav>
    {% endif %}
    </div>
    {% else %}
    <h1 class="text-center"><span class="main-list">Search</span></h1>
    <form>
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <span class="input-group-addon">
                <button type="submit">
                    <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>  
            </span>
        </div>
    </form>
    {% endif %}
</div>
<link rel="stylesheet" href="{% static 'lib/jquery.raty.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'lib/jquery.raty.js' %}"></script>

<script type="text/javascript">
    
    $('.addwatchlistserial').click(function(){
        var id;
        id = $(this).attr("add_watchlist");
        $.ajax(
        {
            url: this.url,
            type:"get",
            data:{
                    add_serial_watchlist: id,
            },
        })
        });
    
    $('.dellwatchlistserial').click(function(){
        var id;
        id = $(this).attr("del_watchlist");
        $.ajax(
        {
            url: this.url,
            type:"get",
            data:{
                    del_serial_watchlist: id,
            },
        })
        });

    $('.addwatchlistfilm').click(function(){
        var id;
        id = $(this).attr("add_watchlist");
        $.ajax(
        {
            url: this.url,
            type:"get",
            data:{
                    add_film_watchlist: id,
            },
        })
        });

    $('.dellwatchlistfilm').click(function(){
        var id;
        id = $(this).attr("del_watchlist");
        $.ajax(
        {
            url: this.url,
            type:"get",
            data:{
                    del_film_watchlist: id,
            },
        })
        });
</script>

<script type="text/javascript">
    
    $('.demoserial').raty({
        path: '{% static "lib/images" %}',
        number: 10,
        hints:['1','2','3','4','5','6','7','8','9','10'],
        click: function(score, evt) {
            var id;
            id = $(this).attr("serial_id");
            $.ajax(
            {
                url: "http://127.0.0.1:8000/serials/",
                type:"get",
                data:{
                        add_serial_id: id,
                        rate: score,
                },
            })
            window.location.reload();
            },
        });

    $('.delbuttonserial').click(function(){
        var catid;
        catid = $(this).attr("del_data-catid");
        var rate;
        rate = $(this).attr("rate_data-catid");
        $.ajax(
        {
            type:"get",
            data:{
                    rate: rate,
                    del_serial_id: catid,
            },
        })
        });

    $('.demofilm').raty({
        path: '{% static "lib/images" %}',
        number: 10,
        hints:['1','2','3','4','5','6','7','8','9','10'],
        click: function(score, evt) {
            var id;
            id = $(this).attr("film_id");
            $.ajax(
            {
                url: "http://127.0.0.1:8000/films/",
                type:"get",
                data:{
                        add_film_id: id,
                        rate: score,
                },
            })
            window.location.reload();
            },
        });

    $('.delbuttonfilm').click(function(){
        var catid;
        catid = $(this).attr("del_data-catid");
        var rate;
        rate = $(this).attr("rate_data-catid");
        $.ajax(
        {
            type:"get",
            data:{
                    rate: rate,
                    del_film_id: catid,
            },
        })
        });
</script>
{% endblock %}