{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="mt-2">
    {% if request.GET.q == '' %}
    <h1 class="text-center">Enter the word!</h1>
    <form>
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <span class="input-group-addon">
                <button type="submit">
                    <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>  
            </span>
        </div>
    </form>
    {% elif request.GET.q %}
    <h1 class="text-center"><span class="main-list">Search </span>result for "{{ request.GET.q }}"</h1>
    <form>
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <span class="input-group-addon">
                <button type="submit">
                    <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>  
            </span>
        </div>
    </form>
    <div class="main-box mt-3">
        <div class="search-nav">
            <ol class="breadcrumb breadcrumb-color">
                <li class="breadcrumb-item "><a href="{% url 'search_list' %}?q={{ request.GET.q }}"><i class="fa fa-th-list" aria-hidden="true"></i> All </a><span class="badge badge-light">{{ result_list_c }}</span></li>
                <li class="breadcrumb-item "><a href="{% url 'search_film_list' %}?q={{ request.GET.q }}">Films</a> <span class="badge badge-light">{{ films_c }}</span></li>
                <li class="breadcrumb-item "><a href="{% url 'search_serial_list' %}?q={{ request.GET.q }}">TV Series</a> <span class="badge badge-light">{{ serials_c }}</span></li>
                <li class="breadcrumb-item active">Persons <span class="badge badge-light">{{ persons_c }}</span></li>
            </ol>
        </div>
        {% for person in persons %}
        <div class="row box-item mb-3 mr-auto ml-auto">
            <div class="col-lg-1">
                {{ forloop.counter0|add:persons.start_index }}.
            </div>
            <div class="col-lg-2">
                <a class="detail" href="{% url 'person_detail' first_name=person.first_name last_name=person.last_name %}">
                    <img class="poster" height="105" width="105" src="{{ person.photo.url }}">
                </a>
            </div>
            <div class="col-lg-2">
                <a class="detail" href="{% url 'person_detail' first_name=person.first_name last_name=person.last_name %}">
                    <span class="h6">{{ person.first_name }} {{ person.last_name }}</span>
                </a>
                <h6 class="text-muted">Person</h6>
            </div>
            <div class="col-lg-2">
                <h6>
                    {{ person.birthdate }}
                </h6>
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-2">

            </div>
        </div>
        {% empty %}
        <h3 class="text-center">Looks like "{{ request.GET.q }}" do not matches any person.</h3>
        {% endfor %}
        {% if person.has_other_pages %}
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <nav aria-label="..." class="pull-right">
                    <ul class="pagination mb-5">
            
                    {% if person.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ person.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Prev</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Prev</span></li>
                    {% endif %}
            
                    {% for i in person.paginator.page_range %}
                        {% if person.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
            
                    {% if person.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ person.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
            
                    </ul>
                </nav>
            </div>
        </div>
        {% endif %}
    </div>
    {% else %}
    <h1 class="text-center"><span class="main-list">Search</span></h1>
    <form>
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <span class="input-group-addon">
                <button type="submit">
                    <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>  
            </span>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}