{% load staticfiles %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ABME</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css'%}">
    <script src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark"  style="background-color: #1e2225;">
      <div class="container">
      <a class="navbar-brand" href="/" id="logo">
        ABME
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarCollapseItems" aria-expended="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapseItems">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'analytics' %}">Analytics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://abme.herokuapp.com/api">API</a>
              </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item inline">
                <a class="nav-link sign text-light" href="{% url 'user_signup' %}">Sign up</a>
              </li>
              <li class="navbar-text inline">or</li>
              <li class="nav-item inline last-inline">
                <a class="nav-link sign text-light" href="{% url 'website_login' %}">Login</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <h1 class="text-black" style="color: #20dada">ABME</h1>
            <p class="text-white"><span id="typed"></span></p>
            <p class="text-white">Click the button and try an application.</p>
            <div>
                <a href="{% url 'user_signup' %}" class="btn btn-primary" role="button" aria-pressed="true">Sign up</a>
                <a href="{% url 'website_login' %}" class="btn btn-success" role="button" aria-pressed="true">Login</a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-6 d-none d-xl-block d-lg-block d-md-block">
            <div class="rounded text-dark bg-light py-4 px-4 px-md-3 px-lg-4">
              <form action="" method="post">
                {% csrf_token %}
                {{ signup_form|crispy }}
                <input class="btn btn-success btn-block" role="button" type="submit" value="Signup" style="cursor:pointer;"/>
                <span class="text-muted signup-note">Minimum latters for username and email is 4.</span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extras">
      <div class="container">
        <h6 class="text-center mb-5">
            Informations
        </h6>
        <h3 class="text-center mb-5">
          About ABME
        </h3>
        <div class="row">
          <div class="col-sm-6 col-lg-6 col-xl-5 text-center mr-auto ml-auto">
            <img src="{% static 'images/robot.png' %}" class="img-fluid">
          </div>
          <div class="col-lg-6">
            <h4>
              ABME is...
            </h4>
            <p>
              A fully working application, dedicated to movies, tv series and many others.<br>
              Created by me, just for non-commercial using.<br>
              More information about Abme is placed <a target="_blank" href="//github.com/b1oader/abme">here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="extras-b">
      <div class="container">
          <h6 class="text-center mb-5">
              Features
          </h6>
          <h3 class="text-center mb-5">
              Why should I use it?
          </h3>
          <div class="row justify-content-between">
            <div class="col-lg-4 order-2 order-lg-1 mt-auto mb-auto text-center text-lg-left">
              <div class="mb-5">
                <h5>
                  Manage your votes
                </h5>
                <p>
                  Do you want to sort or change?<br>
                  You can do this and much more, easly from the user's panel. 
                </p>
              </div>
              <div class="mb-5">
                <h5>
                  Observe the world of cinema
                </h5>
                <p>News, articles about your favorite movies.</p>
              </div>
              <div class="mb-5">
                <h5>
                  Show off your friends
                </h5>
                <p>All profiles are public.<br> Show off friends what movies you like.</p>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center mb-5">
              <img src="{% static 'images/rocket.svg' %}" width="174" height="550">
            </div>
          </div>
      </div>
    </div>
    <div class="extras-b">
      <div class="container">
        <h6 class="text-center mb-5">
            Services
        </h6>
        <h3 class="text-center mb-5">
            Additional services
        </h3>
        <div class="row">
          <div class="col-md-4 mr-auto ml-auto">
            <img src="{% static 'images/analytics.svg' %}" width="140" height="140">
            <h2>Analytics</h2>
            <p>Daily, monthly and yearly charts, just for you, to have a better view of the changes in Abme.</p>
            <p>
              <a class="btn btn-secondary" href="{% url 'analytics' %}" role="button">View details »</a>
            </p>
          </div>
          <div class="col-md-4 mr-auto ml-auto">
            <img src="{% static 'images/api.svg' %}" width="140" height="140">   
            <h2>API</h2>
            <p>Application Programming Interface. <br>Do you want a permit? send an email below.</p>
            <p>
              <a class="btn btn-secondary" href="http://abme.herokuapp.com/api" role="button">View details »</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="extras-b bg-light">
        <div class="container">
          <h6 class="text-center mb-5">
              Contact
          </h6>
          <h3 class="text-grey text-center mb-4">
              Have you any questions?
          </h3>
          <form action="" method="post"  id="contact_form">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-lg-6 col-12 mt-3">
                <input type="email" name="from_email" class="emailinput form-control" required id="id_from_email" placeholder="E-mail"/>
              </div>
              <div class="col-lg-6 col-12 mt-3">
                <input type="text" name="subject" class="textinput textInput form-control" required id="id_subject" placeholder="Subject"/>  
              </div>
            </div>
            <div class="form-row mt-3">
              <div class="col-lg-12">
                <textarea name="message" rows="4" class="textarea form-control" required id="id_message" placeholder="Message..."></textarea>
              </div>
            </div>
            <div class="form-row mt-3">
              <div class="col-lg-12">
                <input class="btn btn-secondary btn-block" role="button" type="submit" value="Send Message" style="cursor: pointer;"/>
              </div>
            </div>
            <div class="form-row mt-3">
              <div class="col-lg-12">
                {% if messages %}
                  {% for message in messages %}
                    <p class="alert alert-success">{{ message }}</p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </form>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-2">
                <h1>
                  <a  href="/" id="logo">ABME</a>
                </h1>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-2">
                <h5 class="text-light">Films</h5>
                <ul class="list-unstyled text-light">
                  <li><a href="{% url 'film_list' %}" class="text-light">List</a></li>
                  <li><a href="{% url 'film_top_rated' %}" class="text-light">Top rated</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-2">
                <h5 class="text-light">Serials</h5>
                <ul class="list-unstyled text-light">
                  <li><a href="{% url 'serial_list' %}" class="text-light">List</a></li>
                  <li><a href="{% url 'serial_top_rated' %}" class="text-light">Top rated</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mt-2">
                <h5 class="text-light">Communication</h5>
                <ul class="list-unstyled text-gray">
                  <li><a href="http://abme.herokuapp.com/api" class="text-light">API</a></li>
                  <li><a href="{% url 'analytics' %}" class="text-light">Analytics</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mt-2">
                <div class="social">
                    <a target="_blank" href="//www.linkedin.com/in/mateusz-slisz-557775139/" class="linkedin text-light">
                      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="//www.facebook.com/mateusz.slisz" class="facebook text-light">
                      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" href="//github.com/b1oader" class="github text-light">
                      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
          </div>
        </div>
      </footer>
    <script type="text/javascript">
      var options = {
        strings: ["Hello", "Bonjour", "Cześć", "Shalom", "Guten tag","今日は"],
        typeSpeed: 100,
        loop: true,
      }
      var typed = new Typed("#typed", options);
    </script>
  </body>
</html>

