{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-8">
    <div class="jumbotron">
      {% if user.is_authenticated %}
      <h1 class="display-3">Hello, {{ user }}!</h1>
      {% else %}
      <h1 class="display-3">Hello, stranger!</h1>
      {% endif %}


      {% if user.is_authenticated %}
      <p class="lead">What's up?</p>
      {% else %}
      <p class="lead">Try an application and click the button</p>
      <p><a class="btn btn-lg btn-success" href="{% url 'user_signup' %}" role="button">Sign up</a></p>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-4">
      <div class="card bg-light">
          <div class="card-header">
            Getting started
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item {% if not user.first_name %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
              <span class="h6">Update your first name</span>{% if not user.first_name %} <i class="fa fa-times" aria-hidden="true"></i>{% else %} <i class="fa fa-check" aria-hidden="true"></i>{% endif %}
            </li>
            <li class="list-group-item {% if user.profile.picture == 'photos/none/default.png' %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
              <span class="h6">Update your picture</span>{% if user.profile.picture == 'photos/none/default.png' %} <i class="fa fa-times" aria-hidden="true"></i>{% else %} <i class="fa fa-check" aria-hidden="true"></i>{% endif %}
            </li>
            <li class="list-group-item {% if not user.profile.bio %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
              <span class="h6">Update your bio</span>{% if not user.profile.bio %} <i class="fa fa-times" aria-hidden="true"></i>{% else %} <i class="fa fa-check" aria-hidden="true"></i>{% endif %}
            </li>
            <li class="list-group-item {% if not user_film_vote %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
              <span class="h6">Vote a film</span>{% if not user_film_vote %} <i class="fa fa-times" aria-hidden="true"></i>{% else %} <i class="fa fa-check" aria-hidden="true"></i>{% endif %}
            </li>
            <li class="list-group-item {% if not user_serial_vote %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
              <span class="h6">Vote a serial</span>{% if not user_serial_vote %} <i class="fa fa-times" aria-hidden="true"></i>{% else %} <i class="fa fa-check" aria-hidden="true"></i>{% endif %}
            </li>
          </ul>
      </div>
  </div>
</div>
{% endblock content %}