{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xl-9 col-lg-9 col-md-12">
    <div class="articles row">
      {% for article in articles %}
        {% if forloop.first %}
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3">
              <div class="card">
                  <img class="card-img-top" src="{{ article.image.url }}" alt="Card image cap">                  
                  <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.text }}</p>
                    <a href="{% url 'article_detail' pk=article.pk %}" class="">READ MORE</a>                    
                  </div>
              </div>
          </div>
        {% else %}
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-3">
              <div class="card">
                  <img class="card-img-top" src="{{ article.image.url }}" alt="Card image cap" width="328px" height="233">
                  <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.text }}</p>
                    <a href="{% url 'article_detail' pk=article.pk %}" class="">READ MORE</a>
                  </div>
              </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 d-xl-block d-lg-block d-none mt-3">
      <div class="card bg-light">
          <div class="card-header">
            Getting started
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item {% if not user.first_name %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
              <span class="h6">Update first name</span>{% if not user.first_name %} <i class="fa fa-times" aria-hidden="true"></i>{% else %} <i class="fa fa-check" aria-hidden="true"></i>{% endif %}
            </li>
            <li class="list-group-item {% if not user.profile.bio %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
              <span class="h6">Update your bio</span>{% if not user.profile.bio %} <i class="fa fa-times" aria-hidden="true"></i>{% else %} <i class="fa fa-check" aria-hidden="true"></i>{% endif %}
            </li>
            <li class="list-group-item {% if not user_film_vote %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
              <span class="h6">Vote a film</span>{% if not user_film_vote %} <i class="fa fa-times" aria-hidden="true"></i>{% else %} <i class="fa fa-check" aria-hidden="true"></i>{% endif %}
            </li>
            <li class="list-group-item {% if not user_serial_vote %}list-group-item-danger{% else %}list-group-item-success{% endif %}">
              <span class="h6">Vote a serial</span>{% if not user_serial_vote %} <i class="fa fa-times" aria-hidden="true"></i>{% else %} <i class="fa fa-check" aria-hidden="true"></i>{% endif %}
            </li>
          </ul>
      </div>
  </div>
</div>
{% endblock content %}