{% extends "base.html" %}
{% load staticfiles %}


{% block content %}


    <div class="row mt-5">
        <div class="top-rated-list col-xl-9 col-lg-12 col-md-12 col-sm-12">
            <h1 class="text-center"><span class="top100">Top 100</span> rated films</h1>
            <div class="main-box mt-5">
                {% for film in films %}
                <div class="row box-item mb-3 mr-auto ml-auto">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2">
                        <span class="h6">{{ forloop.counter0|add:films.start_index }}</span>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-4">
                        <a class="detail" href="{% url 'film_detail' pk=film.pk %}">
                            <img class="poster" height="105" width="75" src="{{ film.image.url }}">
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6">
                        <a class="detail" href="{% url 'film_detail' pk=film.pk %}">
                            <h6>{{ film.title }}</h6>
                        </a>
                        ({{ film.year }})
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
                        <h6>
                            <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                            {{ film.average_score }}
                        </h6>
                        {{ film.votes }} votes
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-7">
                        {% if film.id in f_id %}
                        <div class="demo" film_id="{{ film.id }}" data-score="{% for ratings in filmrating %}{% if film.id == ratings.film.id %} {{ ratings.rate }} {% endif %}{% endfor %}">
                            <span>{% for ratings in filmrating %}{% if film.id == ratings.film.id %}{{ratings.rate}}{% endif %}{% endfor %}</span>
                        </div>
                        <a class="delbutton" id="del {{ film.id }} " href="" del_data-catid=" {{ film.id }} " 
                        rate_data-catid="{% for ratings in filmrating %}{% if film.id == ratings.film.id %} {{ ratings.rate }} {% endif %}{% endfor %}" style="color:black;">
                            {% for ratings in filmrating %}{% if film.id == ratings.film.id %} <i class="fa fa-minus-circle" title="Click to remove" aria-hidden="true"></i> {% endif %}{% endfor %}
                        </a>   
                        {% else %}
                        <div class="demo" film_id="{{ film.id }}" data-score="{% for ratings in filmrating %}{% if film.id == ratings.film.id %} {{ ratings.rate }} {% endif %}{% endfor %}"></div>
                        {% endif %}
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-6 col-2">
                        {% if film.id in watchlist_id %}
                            <a class="dellwatchlist" del_watchlist="{{ film.id }}" title="Click to remove" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:green"></i></a>
                        {% else %}
                            <a class="addwatchlist" add_watchlist="{{ film.id }}" title="Click to add" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:silver"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xl-3 d-xl-block d-none">
            <div class="search">
                <form action="{% url 'search_film_list' %}">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search film" name="q">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </button>  
                        </span>
                    </div>
                </form>
            </div>
            <div class="latest-article">
                <h5>Latest article:</h5>
                <div class="card" >
                    <div class="card-body">
                        <p class="article-date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        {{ latest_article.created_date|date:"F d, Y"}}
                        </p>
                        <a href="{% url 'article_detail' pk=latest_article.pk %}" class="article-title">
                        <h4 class="card-title">{{ latest_article.title }}</h4>
                        </a>
                        <p class="card-text">{{ latest_article.text|truncatechars:40 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{% static 'lib/jquery.raty.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'lib/jquery.raty.js' %}"></script>
    
    <script type="text/javascript">
        
        $('.addwatchlist').click(function(){
            var id;
            id = $(this).attr("add_watchlist");
            $.ajax(
            {
                url: this.url,
                type:"get",
                data:{
                        add_watchlist: id,
                },
            })
            });
        
        $('.dellwatchlist').click(function(){
            var id;
            id = $(this).attr("del_watchlist");
            $.ajax(
            {
                url: this.url,
                type:"get",
                data:{
                        del_watchlist: id,
                },
            })
            });
    </script>
    
    <script type="text/javascript">
        
        $('.demo').raty({
            path: '{% static "lib/images" %}',
            number: 10,
            hints:['1','2','3','4','5','6','7','8','9','10'],
            click: function(score, evt) {
                var id;
                id = $(this).attr("film_id");
                $.ajax(
                {
                    url: "http://127.0.0.1:8000/films/",
                    type:"get",
                    data:{
                            add_film_id: id,
                            rate: score,
                    },
                })
                window.location.reload();
                },
            });
 
        $('.delbutton').click(function(){
        var catid;
        catid = $(this).attr("del_data-catid");
        var rate;
        rate = $(this).attr("rate_data-catid");
        $.ajax(
        {
            type:"get",
            data:{
                    rate: rate,
                    del_film_id: catid,
            },
         })
        });
    </script>
{% endblock %}