{% extends "base.html" %}
{% load staticfiles %}


{% block scripts %}
    <link rel="stylesheet" href="{% static 'lib/jquery.raty.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'lib/jquery.raty.js' %}"></script>
{% endblock scripts %}


{% block content %}

    <div class="row pt-3">
        <div class="list col-xl-9 col-lg-12 col-md-12 col-sm-12">
            <h3 class="text-center"><span class="main-list">Main list</span> of serials</h3>
            <div class="main-box mt-4">
                <form class="mb-3">
                    <div class="form-row">
                        <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-5 col-8">
                            <select class="form-control" name="category">
                            <option value="" selected disabled hidden>Choose category...</option>
                            {% for category in categories %}
                            <option  {% if request.GET.category == category.name %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-3 col-sm-3 col-4">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insert year..." name="year" {% if request.GET.year %}value="{{ request.GET.year }}"{% endif %}>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-8">
                            <input class="btn btn-secondary btn-block" role="button" type="submit" value="Filter" style="cursor: pointer;">
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-4">
                            <a class="btn btn-danger btn-block" href="{% url 'serial_list' %}" role="button" title="Reset filters"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </form>
                {% for serial in serials %}
                <div class="row box-item mb-3 mr-auto ml-auto">
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-2">
                        <span class="h6">{{ forloop.counter0|add:serials.start_index }}</span>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-5">
                        <a class="detail linktransform" href="{% url 'serial_detail' slug=serial.slug pk=serial.pk %}">
                            <img class="poster" height="105" width="75" src="{{ serial.image.url }}">
                        </a>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-5">
                        <a class="detail" href="{% url 'serial_detail' slug=serial.slug pk=serial.pk %}">
                            <h6>{{ serial.title }}</h6>
                        </a>
                        ({{ serial.year }}- )
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3 d-none d-sm-block">
                        <h6>
                            <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
                            {{ serial.average_score }}
                        </h6>
                        {{ serial.votes }} votes
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-7 d-none d-md-block d-lg-block d-xl-block">
                        {% if serial.id in s_id %}
                        <div class="demo" serial_id="{{ serial.id }}" data-score="{% for ratings in serialrating %}{% if serial.id == ratings.serial.id %} {{ ratings.rate }} {% endif %}{% endfor %}">
                            <span class="h6">{% for ratings in serialrating %}{% if serial.id == ratings.serial.id %}{{ratings.rate}}{% endif %}{% endfor %}</span>
                        </div>
                        <a class="delbutton" id="del {{ serial.id }} " href="" del_data-catid=" {{ serial.id }} " 
                        rate_data-catid="{% for ratings in serialrating %}{% if serial.id == ratings.serial.id %} {{ ratings.rate }} {% endif %}{% endfor %}" style="color:black;">
                            {% for ratings in serialrating %}{% if serial.id == ratings.serial.id %} <i class="fa fa-minus-circle" title="Click to remove" aria-hidden="true"></i> {% endif %}{% endfor %}
                        </a>   
                        {% else %}
                        <div class="demo" serial_id="{{ serial.id }}" data-score="{% for ratings in serialrating %}{% if serial.id == ratings.serial.id %} {{ ratings.rate }} {% endif %}{% endfor %}"></div>
                        {% endif %}
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-0 col-sm-6 col-2 d-none d-lg-block d-xl-block">
                        {% if serial.id in watchlist_id %}
                            <a class="dellwatchlist" del_watchlist="{{ serial.id }}" title="Click to remove" href="" id="watchlist-active"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                        {% else %}
                            <a class="addwatchlist" add_watchlist="{{ serial.id }}" title="Click to add" href="" id="watchlist-inactive"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% if serials.has_other_pages %}
                <nav aria-label="...">
                    <ul class="pagination mb-5 pull-right">

                    {% if serials.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ serials.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}">Prev</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Prev</span></li>
                    {% endif %}

                    {% for i in serials.paginator.page_range %}
                        {% if serials.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a class="page-link" href="?page={{ i }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if serials.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ serials.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}

                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
        <div class="col-xl-3 d-xl-block d-none">
            <div class="search">
                <form action="{% url 'search_serial_list' %}">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search serial" name="q">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span style="cursor: pointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </button>  
                        </span>
                    </div>
                </form>
            </div>
            {% if latest_article %}
            <div class="latest-article">
                <h5>Latest article:</h5>
                <div class="card custom-card-shadow" >
                    <div class="card-body">
                        <p class="article-date">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        {{ latest_article.created_date|date:"F d, Y"}}
                        </p>
                        <a href="{% url 'article_detail' slug=latest_article.slug pk=latest_article.pk %}" class="article-title">
                        <h5 class="card-title">{{ latest_article.title|truncatechars:90 }}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    <script type="text/javascript">
        
        $('.addwatchlist').click(function(){
            var id;
            id = $(this).attr("add_watchlist");
            $.ajax(
            {
                url: this.url,
                type:"get",
                data:{
                        add_watchlist: id,
                },
                success: function () {
                    window.location.reload();
                }
            })
            });
        
        $('.dellwatchlist').click(function(){
            var id;
            id = $(this).attr("del_watchlist");
            $.ajax(
            {
                url: this.url,
                type:"get",
                data:{
                        del_watchlist: id,
                },
                success: function () {
                    window.location.reload();
                }
            })
            });
    </script>
    
    <script type="text/javascript">
        
        $('.demo').raty({
            starHalf:'https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/images/star-half.png',
            starOff:'https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/images/star-off.png',
            starOn:'https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/images/star-on.png' ,
            cancelOff:'https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/images/cancel-off.png',
            cancelOn:'https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/images/cancel-on.png',
            number: 10,
            hints:['1','2','3','4','5','6','7','8','9','10'],
            click: function(score, evt) {
                var id;
                id = $(this).attr("serial_id");
                $.ajax(
                {
                    url: this.url,
                    type:"get",
                    data:{
                            add_serial_id: id,
                            rate: score,
                    },
                })
                window.location.reload();
                },
            });
 
        $('.delbutton').click(function(){
        var catid;
        catid = $(this).attr("del_data-catid");
        var rate;
        rate = $(this).attr("rate_data-catid");
        $.ajax(
        {
            url: this.url,
            type:"get",
            data:{
                    rate: rate,
                    del_serial_id: catid,
            },
            success: function () {
                    window.location.reload();
            }
         })
        });
    </script>
{% endblock %}