{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="mt-5">
        <h1>List of books</h1>
        <table class="table">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Global rating</th>
                <th scope="col">Your rating</th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'book_detail' pk=book.pk %}"><img class="poster" height="70" width="50" src="{{ book.image.url }}"></a></td>
                <td><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td><i class="fa fa-star" aria-hidden="true"></i> {{ book.average_score }}</td>
                <td>
                {% if book.id in b_id %}
                <div class="demo" book_id="{{ book.id }}" data-score="{% for ratings in bookrating %}{% if book.id == ratings.book.id %} {{ ratings.rate }} {% endif %}{% endfor %}">
                    <span>{% for ratings in bookrating %}{% if book.id == ratings.book.id %}{{ratings.rate}}{% endif %}{% endfor %}</span>
                </div>
                <a class="delbutton" id="del {{ book.id }} " href="" del_data-catid=" {{ book.id }} " 
                rate_data-catid="{% for ratings in bookrating %}{% if book.id == ratings.book.id %} {{ ratings.rate }} {% endif %}{% endfor %}" style="color:black;">
                    {% for ratings in bookrating %}{% if book.id == ratings.book.id %} <i class="fa fa-minus-circle" aria-hidden="true"></i> {% endif %}{% endfor %}
                </a>   
                {% else %}
                <div class="demo" book_id="{{ book.id }}" data-score="{% for ratings in bookrating %}{% if book.id == ratings.book.id %} {{ ratings.rate }} {% endif %}{% endfor %}"></div>
                {% endif %}
                </td>
                <td>
                {% if book.id in watchlist_id %}
                    <a class="dellwatchlist" del_watchlist="{{ book.id }}" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:green"></i></a>
                {% else %}
                    <a class="addwatchlist" add_watchlist="{{ book.id }}" href=""><i class="fa fa-bookmark" aria-hidden="true" style="color:silver"></i></a>
                {% endif %}
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if books.has_other_pages %}
        <nav aria-label="...">
            <ul class="pagination mb-5">

              {% if books.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ books.previous_page_number }}">Prev</a></li>
              {% else %}
                <li class="page-item disabled"><span class="page-link">Prev</span></li>
              {% endif %}

              {% for i in books.paginator.page_range %}
                {% if books.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if books.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ books.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
              {% endif %}

            </ul>
        </nav>
        {% endif %}
    </div>
    <link rel="stylesheet" href="{% static 'lib/jquery.raty.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'lib/jquery.raty.js' %}"></script>
    <script type="text/javascript">
        
        $('.addwatchlist').click(function(){
            var id;
            id = $(this).attr("add_watchlist");
            $.ajax(
            {
                url: this.url,
                type:"get",
                data:{
                        add_watchlist: id,
                },
            })
            });
        
        $('.dellwatchlist').click(function(){
            var id;
            id = $(this).attr("del_watchlist");
            $.ajax(
            {
                url: this.url,
                type:"get",
                data:{
                        del_watchlist: id,
                },
            })
            });
    </script>

    <script type="text/javascript">
        
        $('.demo').raty({
            path: '{% static "lib/images" %}',
            number: 10,
            hints:['1','2','3','4','5','6','7','8','9','10'],
            click: function(score) {
            var id;
            id = $(this).attr("book_id");
            $.ajax(
            {
                type:"get",
                data:{
                        add_book_id: id,
                        rate: score,
                },
                success: function(data)
                {
                    $( '#add'+ id ).remove();
                    $( '#message' ).text(data);
                }, 
             })
            window.location.reload();
            },
            });

        $('.delbutton').click(function(){
            var catid;
            catid = $(this).attr("del_data-catid");
            var rate;
            rate = $(this).attr("rate_data-catid");
            $.ajax(
            {
                type:"GET",
                data:{
                        rate: rate,
                        del_book_id: catid,
                },
                })
            });
    </script>
{% endblock %}